.canvas.chartjs-render-monitor{
    width:1400;
}

.chart1{
    width:1400px;
    margin-left: 5%;
    margin-top: 10%; 
}

.chart2{
    width:1400px;
    margin-top: 10%;
    margin-left: 5%; 
}

.chart3{
    width:1400px;
    margin-top: 10%;
    margin-left: 5%; 
}

.chart4{
    width:1400px;
    margin-top: 10%;
    margin-left:5%; 
}

.chart5{
    width:1400px;
    margin-top: 10%;
    margin-left: 5%; 
}

.chart6{
    width:1400px;
    margin-top: 10%;
    margin-left: 5%; 
}