
.profilelocationstepper{
    width:23%;
    margin-left: 38.5%;
    margin-top: 5%;
}

.plWelcome{
    text-align: center;
    margin-top: 3%;
    font-size: 50px;
}

.welcomedescript{
    margin-left: 22%;
    margin-top: 2%;
    color: #6e6e6e;
    text-align: center;
    font-size: 20px;
    width: 54%;
    margin-bottom: 1%;
}

.welcomelocation{
    margin-left: 35%;
    width:35%;
    height:43px;
    border: 1.5px solid;
}

.welcomelocationlabels{
    margin-left: 540px;
    margin-top: 3%;
    color: #7e7d7d;
}

.welcomezipcode{
    margin-left: 35%;
    width:35%;
    height:43px;
    border: 1.5px solid;
}

.profilelocationbutton > button{
    margin-left: 35%;
    width:35%;
    margin-top: 2%;
    height:43px;
}